@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

#container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

header {
  background-color: white;
  z-index: 101;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  top: 0;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  align-items: center;
  padding-bottom: 25px;
  border-radius: 0px;
}
.header__nav .nav__content {
  display: flex;
  align-items: center;
}
.header__nav .nav__content ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__nav .nav__content a {
  font-weight: 400;
  font-size: 15px;
  color: #666666;
}
.header__nav .nav__content li :hover {
  color: rgb(148, 148, 248);
}
.header__nav .nav__content button {
  padding: 10px 25px;
  margin-left: 32px;
  background: #222222;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  margin: 5px;
  height: 2px;
  width: 25px;
  transition: 0.4s linear;
  background-image: linear-gradient(#0278ed, rgb(188, 206, 255));
}

.toggle .line__1 {
  opacity: 1;
  transform: rotate(47deg) translate(10px);
}

.toggle .line__2 {
  opacity: 0;
}

.toggle .line__3 {
  opacity: 1;
  transform: rotate(-48deg) translate(9px);
}

@-webkit-keyframes navBar {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes navBar {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@media only screen and (max-width: 845px) {
  body {
    overflow-x: hidden;
  }
  .header__nav {
    padding: 25px 40px;
    justify-content: space-between;
  }
  .header__nav .nav__content a {
    color: #fff;
  }
  .burger {
    z-index: 1;
    display: block;
  }
  .nav__content button {
    display: none;
  }
  .nav__link {
    position: absolute;
    right: 0;
    justify-content: center;
    height: 100vh;
    top: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    display: none;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .nav__active {
    transform: translate(0);
  }
  .row {
    gap: 50px;
  }
}
.main__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: -10px;
  padding: 100px 0 0px 0;
}
.main__content__about h1 {
  width: 400px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
}
.main__content__about p {
  width: 394px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.main__content .home__button {
  margin-top: 20px;
}
.main__content .home__button button {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #222222;
}
.main__content .home__button button:hover {
  background-color: #444343;
}
.main__content .main__phone__image {
  margin-top: 20px;
}
.main__content .main__phone__image img {
  width: 100%;
}

.photography {
  padding: 100px;
}

.photography__title__text {
  text-align: center;
  color: #fff;
  width: 495px;
  margin: auto;
  margin-bottom: 40px;
}
.photography__title__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.photography__title__text span {
  padding-top: 5px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.photography__phone__card {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.photography__phone__card .card__box {
  position: relative;
  background-position: center top 40px;
  background-image: url(../images/phone-1.png);
  margin-bottom: 20px;
  text-align: center;
  padding-top: 40px;
  border-radius: 20px;
  background-color: white;
  width: 320px;
  background-repeat: no-repeat;
}
.photography__phone__card .card__box img {
  left: 50%;
  top: 55%;
  z-index: 3;
  transform: translateX(-50%);
  position: absolute;
}
.photography__phone__card .card__box__about {
  padding-top: 48px;
  position: relative;
  padding-bottom: 40px;
  background: #f2f2f2;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
  margin-top: 290px;
}
.photography__phone__card .card__box__about p {
  padding-top: 11px;
  margin: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 286px;
}
.photography__phone__card .card__box__about span {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #0278ed;
}
.photography__phone__card .phone--card--1--image {
  background-image: url(../images/phone-1.png);
}
.photography__phone__card .phone--card--2--image {
  background-image: url(../images/phone-2.png);
}
.photography__phone__card .phone--card--3--image {
  background-image: url(../images/phone-4.png);
}
.photography__phone__card .phone--card--4--image {
  background-image: url(../images/phone-4.png);
}
.photography__phone__card .phone--card--5--image {
  background-image: url(../images/phone-1.png);
}
.photography__phone__card .phone--card--6--image {
  background-image: url(../images/phone-2.png);
}

.row {
  position: relative;
  display: flex;
  padding-top: 80px;
  gap: 178px;
  padding-bottom: 140px;
  justify-content: center;
}
.row .fh5co-counter {
  font-size: 96px;
}

.text-center {
  position: relative;
  text-align: center;
}

.right__plus {
  font-size: 96px;
}

.techno__content__bottom {
  position: relative;
  top: -189px;
  background-color: rgb(242, 242, 242);
}

.techno__content,
.left__techno__content {
  display: flex;
  padding: 120px;
  justify-content: space-around;
}
.techno__content .techno__content__about,
.left__techno__content .techno__content__about {
  width: 420px;
  padding-top: 46px;
}
.techno__content .techno__content__about span,
.left__techno__content .techno__content__about span {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.techno__content .techno__content__about h1,
.left__techno__content .techno__content__about h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.techno__content .techno__content__about p,
.left__techno__content .techno__content__about p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.dark-mode {
  text-align: center;
  position: relative;
  top: -362px;
  background-color: #000;
  color: white;
  transition: 0.7s;
}

.dark__content {
  padding-bottom: 160px;
  padding-top: 100px;
}
.dark__content span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.dark__content h1 {
  padding-top: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.dark__content p {
  padding-top: 14px;
  padding-bottom: 36px;
  margin: auto;
  width: 578px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.dark__content .dark__mode__phone {
  height: 486px;
}
.dark__content .dark__border__phone__bootom {
  background-color: white;
  height: 2px;
  margin: auto;
  width: 600px;
  margin-top: 5px;
}
.dark__content .dark__button__flex {
  margin: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 40px;
}

section.dark-mode {
  text-align: center;
  position: relative;
  top: -362px;
  background-color: #000;
  color: white;
  transition: 1s;
}

section.light-mode {
  text-align: center;
  position: relative;
  top: -362px;
  color: #000;
  background-image: linear-gradient(0deg, rgb(158, 157, 157), rgb(243, 240, 240));
  color: rgb(0, 0, 0);
  transition: 1s;
}

.pricing__content {
  position: relative;
  top: -130px;
  text-align: center;
}
.pricing__content .pricing__content__about span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.pricing__content .pricing__content__about h1 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.pricing__content .pricing__content__about p {
  opacity: 0.7;
  padding-top: 16px;
  margin: auto;
  width: 568px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.pricing__content .pricing__box {
  background: #f2f2f2;
  border-radius: 20px;
  width: 350px;
  padding: 49px 40px 50px;
}
.pricing__content .pricing__box span,
.pricing__content .pricing__box h1,
.pricing__content .pricing__box button {
  color: rgb(2, 120, 237);
}
.pricing__content .pricing__box span {
  font-weight: 400;
  font-size: 18px;
}
.pricing__content .pricing__box h1 {
  font-weight: 400;
  font-size: 108px;
}
.pricing__content .pricing__box button {
  background-color: #0278ed;
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 5px;
}
.pricing__content .pricing__cost__flex {
  padding-top: 41px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.pricing__content .pricing__box__center {
  background: #f2f2f2;
  border-radius: 20px;
  width: 350px;
  padding: 49px 40px 50px;
}
.pricing__content .pricing__box__center span,
.pricing__content .pricing__box__center h1,
.pricing__content .pricing__box__center button {
  color: #ff5437;
}
.pricing__content .pricing__box__center span {
  font-weight: 400;
  font-size: 18px;
}
.pricing__content .pricing__box__center h1 {
  font-weight: 400;
  font-size: 108px;
}
.pricing__content .pricing__box__center button {
  background-color: #0278ed;
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 5px;
}
.pricing__content .pricing__box__right {
  background: #f2f2f2;
  border-radius: 20px;
  width: 350px;
  padding: 49px 40px 50px;
}
.pricing__content .pricing__box__right span,
.pricing__content .pricing__box__right h1,
.pricing__content .pricing__box__right button {
  color: #ff9209;
}
.pricing__content .pricing__box__right span {
  font-weight: 400;
  font-size: 18px;
}
.pricing__content .pricing__box__right h1 {
  font-weight: 400;
  font-size: 108px;
}
.pricing__content .pricing__box__right button {
  padding-top: 41px;
  background-color: #0278ed;
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 5px;
}
.pricing__content .card__box__pricing {
  transition: 0.7s;
}
.pricing__content .card__box__pricing:hover {
  border: 0.007px solid #0278ed;
  background: #fafafa;
  transform: scale(1.051);
}
.pricing__content button {
  margin-top: 51px;
}
.pricing__content button:hover {
  border: 1px solid #0278ed;
  color: #0278ed;
  background-color: #eee;
}

.testimonials__word {
  padding: 100px 90px;
  text-align: center;
}
.testimonials__word .testimonials__title__word span {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonials__word .testimonials__title__word h1 {
  padding-top: 15px;
  font-size: 32px;
  line-height: 36px;
}
.testimonials__word .testimonials__title__word p {
  padding-top: 14px;
  font-size: 32px;
  line-height: 36px;
  color: #666;
}
.testimonials__word .word__about__testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.testimonials__word .word__about__testimonials .content__testimonials__box {
  border-radius: 20px;
  text-align: left;
  margin-top: 41px;
  width: 350px;
  padding: 30px;
  background-color: white;
}
.testimonials__word .word__about__testimonials .content__testimonials__box p {
  width: 312px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.testimonials__word .word__about__testimonials .content__testimonials__box img {
  padding-top: 20px;
}

.download__content {
  text-align: center;
  padding: 100px 90px;
}
.download__content span {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.download__content h1 {
  padding-top: 5px;
  font-weight: 400;
  font-size: 32px;
}
.download__content p {
  margin: auto;
  width: 500px;
  padding-top: 14px;
  color: #666;
  font-weight: 400;
  font-size: 18px;
}
.download__content img {
  padding-top: 27px;
}

.faq__content {
  padding: 110px 90px;
}
.faq__content h1 {
  font-size: 32px;
  line-height: 36px;
}
.faq__content p {
  padding-top: 16px;
  font-size: 15px;
  line-height: 20px;
}
.faq__content p {
  width: 572px;
}
.faq__content .flex__faq {
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
}
.faq__content .faq__list__left {
  padding-top: 42px;
}

@media screen and (max-width: 1045px) {
  .row {
    gap: 80px;
  }
  .techno__content__bottom {
    position: relative;
    top: -109px;
  }
}
@media screen and (max-width: 845px) {
  .techno__content,
.left__techno__content {
    padding: 20px;
  }
  .row {
    gap: 50px;
  }
  .fh5co-counter {
    font-size: 76px !important;
  }
  .right__plus {
    font-size: 76px;
  }
}
@media screen and (max-width: 780px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 689px) {
  .techno__content,
.left__techno__content {
    flex-wrap: wrap;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */